@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root{
  --primary-color: #6941C6;
  --secondary-color: #42307D;
  --tertiary-color: #2C1C5F;
  --primary-text-color: #171717;
  --secondary-text-color: #FFFFFF;
  --secondary-text-color-light: rgba(255, 255, 255, 0.1);
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F7F5FF;
}
body{
  overflow: hidden;
}
.App{
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  background-color: var(--secondary-background-color);
}